Flask==1.0.2
Flask-Uploads==0.2.1
Flask-WTF==0.14.2
fpdf==1.7.2
html5lib==1.0.1
jedi==0.12.1
Jinja2==2.10
matplotlib==2.2.0
numpy==1.14.1
pandas==0.23.3
python-dateutil==2.6.1
scipy==1.1.0
statsmodels==0.9.0
Werkzeug==0.14.1
WTForms==2.2.1
gunicorn==19.9.0
