{% extends "layout.html" %}

{% block content %}
<div class="container" style="margin-bottom:50px; margin-top:40px;">
  <div class="container row">
    <div class="col-md-5">
      <img src="{{ url_for('static', filename='500-error.png') }}" class="img-responsive" width=100%>
    </div>
    <div class="col-md-7">
      <h3><b>Error 500</b></h3>
      <h4>Erro na aplicação</h4>
      <p style="text-align:justify">
        Ocorreu algum problema na requisição da operação. Algumas possibilidades são:
        <ul>
          <li>Algum índice de coluna passado está fora dos limites de número de colunas.</li>
          <li>O separador de dados está errado.</li>
          <li>O cabeçalho de alguma coluna possui o separador no texto (isso pode comprometer e divisão das colunas).</li>
          <li>Não há coluna de datas, mas foi passado algum valor (nesse caso, atribui-se valor <i>0</i>).</li>
          <li>Há problemas em algum ponto da série, como um tipo de dado não numérico.</li>
          <li>O algoritmo não conseguiu interpretar os dados passados pelo usuário.</li>
          <li>O modelo não convergiu ou não passou nos testes de estacionariedade. Tente novos parâmetros e priorize utilizar o algoritmo SARIMA em relação ao ARIMA.</li>
        </ul>
        <p>Por favor, confira as possibilidades e tente novamente.</p>
        <p><a href="{{ link }}" class="btn btn-primary">RETORNE AO ALGORITMO</a></p>
        <small style="color:#989898">Caso o erro persista, entre em contato por email: rgomes@ime.eb.br.</small>
      </p>
    </div>
  </div>
</div>
{% endblock content %}
