{% extends "layout.html" %}

{% block content %}

<div class="container" style="margin-bottom:50px; margin-top:40px;">
	<h1 class="display-4">Algoritmos</h1>
</div>

{% for i in range((((algos_list|length)/4)|round(method='ceil'))|int) %}
<div class="container">
	<div class="row" style="margin-top:20px">
		{% for algo in algos_list[i*4:(i+1)*4] %}
			<div class="col-md-3">
				<div class="card text-center" style="height:220px">
					<div class="card-header" style="font-size:13px">
						{{ algo.subtitle }}
					</div>
					<div class="card-body" style="padding:10px">
						<h5 class="card-title text-center" style="font-size:18px; height:40px;"><a href="{{ algo.page }}" style="color: #000000; text-decoration: none">{{ algo.title }}</a></h5>
						{% if algo.desc|length > 90 %}
								<p class="card-text" style="font-size:13px; height:50px">{{ algo.desc[0:90] + '...' }}</p>
						{% else %}
								<p class="card-text" style="font-size:13px; height:50px">{{ algo.desc }}</p>
						{% endif %}
						<a href="{{ algo.page }}" class="btn btn-newcolor btn-sm">Utilizar</a>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
</div>
{% endfor %}

{% endblock content %}
