{% extends "layout_algorithms_output.html" %}

{% block formulario %}
<h4 class="mb-3">Resultados</h4>

<div>
  <h5>Parâmetros de entrada</h5>
  <table class="table table-striped table-bordered table-sm">
    <tbody>
      <tr class="d-flex">
        <th class="col-5" scope="row">Modelo</th>
        {% if model == 'additive' %}
          <td class="col-7">Aditivo</td>
        {% elif model == 'multiplicative' %}
          <td class="col-7">Multiplicativo</td>
        {% endif %}
      </tr>
      <tr class="d-flex">
        <th class="col-5" scope="row">Referência Média Móvel</th>
        {% if two_sided == 'center' %}
          <td class="col-7">Referência no centro</td>
        {% elif two_sided == 'right'%}
          <td class="col-7">Referência à direita</td>
        {% endif %}
      </tr>
      <tr class="d-flex">
        <th class="col-5" scope="row">Periodicidade</th>
          <td class="col-7">{{ frequencia }}</td>
      </tr>
    </tbody>
  </table>
</div>

<div>
  <h5>Gráfico</h5>
  <img src="{{ image }}" class="img-fluid img-rounded mx-auto d-block" alt="Gráfico Decomposição">
</div>

<h5>Tabelas</h5>
<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-bordered table-sm">
      <thead>
        <tr class="d-flex">
          <th class="col-3">Data</th>
          <th class="col-3">Tendência</th>
          <th class="col-3">Sasonalidade</th>
          <th class="col-3">Resíduo</th>
        </tr>
      </thead>
      <tbody>
        {% for i in range(10) %}
        <tr class="d-flex">
          <td class="col-3">{{ (rd[i]|string)[:10] }}</td>
          <td class="col-3">{{ trend[i]|round(5) }}</td>
          <td class="col-3">{{ seasonal[i]|round(5) }}</td>
          <td class="col-3">{{ residual[i]|round(5) }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<h5>Download de Resultados</h5>
<div class="container">
	<div class="row" style="margin-top:20px">
		<div class="col-md-6">
				<div class="card text-center" style="height:200px">
					<div class="card-header" style="font-size:14px">
						<b>Relatório (pdf)</b>
					</div>
					<div class="card-body" style="padding:10px">
								<p class="card-text" style="font-size:13px; height:70px">
                  Relatório de resultados, em formato .pdf contendo detalhes sobre a parâmetros e dados de entrada, qualidade dos dados e dados processados.
                </p>
						<a href = "/algorithms/{{ address_pdf }}" class="btn btn-primary">DOWNLOAD</a>
					</div>
				</div>
			</div>
      <div class="col-md-6">
  				<div class="card text-center" style="height:200px">
  					<div class="card-header" style="font-size:14px">
  						<b>Dados Processados (csv)</b>
  					</div>
  					<div class="card-body" style="padding:10px">
  								<p class="card-text" style="font-size:13px; height:70px">
                    Arquivo em formato .csv contendo dados processados resultantes da aplicação do modelo.
                  </p>
  						<p><a href = "/algorithms/{{ address_csv }}" class="btn btn-primary">DOWNLOAD</a></p>
  					</div>
  				</div>
  			</div>
	</div>
</div>

{% endblock formulario %}
