{% extends "layout_algorithms.html" %}

{% block formulario %}
<div class="row">
  <div class="form-group col-md-4 mb-3">
    {{ form.p.label(class="form-control-label") }}
    {{ form.p(class="form-control form-control-lg") }}
    <small class="form-text text-muted">Ordem da componente autorregressiva</small>
  </div>
  <div class="form-group col-md-4 mb-3">
    {{ form.d.label(class="form-control-label") }}
    {{ form.d(class="form-control form-control-lg") }}
    <small class="form-text text-muted">Número de diferenças tomadas na série</small>
  </div>
  <div class="form-group col-md-4 mb-3">
    {{ form.q.label(class="form-control-label") }}
    {{ form.q(class="form-control form-control-lg") }}
    <small class="form-text text-muted">Ordem da componente das médias móveis</small>
  </div>
</div>
{% endblock formulario %}
