{% extends "layout_algorithms.html" %}

{% block formulario %}

<div class="container-fluid">

      <h4 class="mb-3">Parâmetros</h4>

      <form method="POST" action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">

          <div class="row">
            <div class="form-group col-md-4 mb-3">
              {{ form.lags.label(class="form-control-label") }}
              {{ form.lags(class="form-control form-control-lg") }}
              <small class="form-text text-muted">Número de Lags (diferenças) a serem consideradas</small>
            </div>
          </div>

          <div class="row container">
            <div class="form-group col-md-12 mb-3 custom-file">
              {{ form.dados(type="file", class="custom-file-input", id="customFile") }}
              {{ form.dados.label(class="custom-file-label", for="customFile") }}

              {% for error in form.dados.errors %}
                <span style="color:red;">{{ error }}</span>
              {% endfor %}

            </div>
          </div>

          <div class="row container">
            <div class="custom-control custom-checkbox my-1 mr-sm-2">
              {{ form.header(type="checkbox", class="custom-control-input", id="customControlInline") }}
              {{ form.header.label(class="custom-control-label", for="customControlInline", style="font-size:15px") }}
            </div>
          </div>

          <div class="form-group row">
            {{ form.sep.label(class="col-sm-3 col-form-label col-form-label-sm") }}
            <div class="col-md-2">
              {{ form.sep(class="form-control form-control-sm") }}
            </div>
          </div>

          <div class="form-group row">
            {{ form.datec.label(class="col-sm-3 col-form-label col-form-label-sm") }}
            <div class="col-md-2">
              {{ form.datec(class="form-control form-control-sm") }}
            </div>
          </div>


          <!-- <div class="row">
            <div class="form-group col-md-4 mb-3">
              {{ form.sep.label(class="form-control-label") }}
              {{ form.sep(class="form-control form-control-sm") }}
            </div>
            <div class="form-group col-md-4 mb-3">
              {{ form.header.label(class="form-control-label") }}
              {{ form.header(class="form-control form-control-lg", type="radio") }}
            </div>
            <div class="form-group col-md-4 mb-3">
              {{ form.datec.label(class="form-control-label") }}
              {{ form.datec(class="form-control form-control-lg") }}

            </div>
          </div> -->

        <hr>

        </fieldset>
        <div class="row">
          <div class="form-group col-md-3">
            {{ form.submit(class= "btn btn-primary") }}
          </div>
        </div>
      </form>

</div>


<!-- <form class="needs-validation" novalidate>
  <div class="row">
    <div class="col-md-4 mb-3">
      <label>p</label>
      <input type="number" class="form-control" id="p" placeholder="" value="" required>
      <small id="passwordHelpBlock" class="form-text text-muted">Ordem da componente autorregressiva</small>
      <div class="invalid-feedback">
        Esse campo é obrigatório. Preencha somente com números inteiros.
      </div>

    </div>
    <div class="col-md-4 mb-3">
      <label>d</label>
      <input type="number" class="form-control" id="d" placeholder="" value="" required>
      <small id="passwordHelpBlock" class="form-text text-muted">Número de diferenças tomadas na série</small>

    </div>
    <div class="col-md-4 mb-3">
      <label>q</label>
      <input type="number" class="form-control" id="q" placeholder="" value="" required>
      <small id="passwordHelpBlock" class="form-text text-muted">Ordem da componente das médias móveis</small>

    </div>
  </div>

  <hr class="mb-4">

  <h4 class="mb-3 font-weight-normal">Upload de Arquivos</h4>

  <div class="row">
    <div class="col-md-12">
      <div class="custom-file">
        <input type="file" class="custom-file-input" id="customFile">
        <label class="custom-file-label" for="customFile">Buscar Arquivo</label>
      </div>
    </div>
  </div>

  <hr class="mb-4">
  <div class="row">
    <div class="col-md-3">
      <button class="btn btn-primary btn-md btn-block" type="submit">Processar</button>
    </div>
  </div>

</form> -->

{% endblock formulario %}
