{% extends "layout.html" %}

{% block content %}
<div class="container">
  <h1 class="display-4">Documentação</h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6">

        <h2>Sobre o Projeto</h2>
        <p>A Plataforma de Análise de Séries Temporais faz parte de um dos Projetos de Fim de Curso desenvolvidos na Seção de Engenharia Cartográfica (SE/6) do Instituto Militar de Engenharia</p>
        <p>O projeto faz parte do portifólio que busca desenvolver ferramentas de ajustamento e análise de dados empregando a linguagem de programaçao Python, com propósitos principalmente acadêmicos.</p>

    </div>
    <div class="col-md-6">

        <h2>Código Aberto</h2>
        <p>Uma das premissas do projeto foi que ele tivesse código aberto, de modo a poder ser editado mesmo depois da graduação de seus autores originais, permitindo melhorias constantes no sistema.</p>
        <p>O código do projeto encontra-se disponível no <a href="https://github.com/mariliamonteiro/pfc_timeseries/tree/master">GitHub</a></p>

    </div>
  </div>
</div>
{% endblock content %}
