{% extends "layout.html" %}

{% block content %}
<div class="container" style="margin-bottom:50px; margin-top:40px;">
  <h1 class="display-4">{{ title }}</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6 border-right" style="text-align:justify; padding:30px;">
      <h2>Sobre o Projeto</h2>
      <p>A Plataforma de Análise de Séries Temporais faz parte de um dos Projetos de Fim de Curso desenvolvidos na Seção de Engenharia Cartográfica (SE/6) do Instituto Militar de Engenharia no ano de 2018.</p>
      <p>O projeto faz parte do portifólio que busca desenvolver ferramentas de ajustamento e análise de dados empregando a linguagem de programaçao Python, com propósitos principalmente acadêmicos.</p>
      <p>Para saber mais sobre o Instituto Militar de Engenharia (IME), acesse o <a href="http://www.ime.eb.mil.br/pt/">Site do Instituto</a></p>
    </div>

    <div class="col-md-6" style="text-align:justify; padding:30px;">

      <h2>Código Aberto</h2>
      <p>Uma das premissas do projeto foi que ele tivesse código aberto, de modo a poder ser editado mesmo depois da graduação de seus autores originais, permitindo melhorias constantes no sistema.</p>
      <p>O código do projeto encontra-se disponível no <a href="https://github.com/mariliamonteiro/pfc_timeseries/tree/master">GitHub</a></p>
      <p>Tendo sido desenvolvida em Python 3, a plataforma foi construida empregando <a href="http://flask.pocoo.org/">Flask</a> e os modelos aqui utilizados se baseiam principalmente naqueles disponibilizados pelo <a href="https://www.statsmodels.org/stable/index.html">StatsModels</a>. </p>

    </div>
  </div>
</div>
{% endblock content %}
