{% extends "layout.html" %}

{% block content %}
<div class="container" style="margin-bottom:50px; margin-top:40px;">
  <h1 class="display-4">{{ title }}</h1>
  <p class="text-muted" style="text-align:justify">
    Para que se faça uso da plataforma e dos seus diversos algoritmos é necessário que seja realizado inicialmente o <i>upload</i> dos dados sobre os quais serão realizadas as análises. A entrada de dados na plataforma é realizada apenas através de arquivos <code class="highlighter-rouge">.csv</code> e é importante que sejam passados os parâmetros corretos na leitura dos arquivos para garantir o bom funcionamento das funções. Entenda mais sobre a estrutura do arquivo e os parâmetros de entrada nos tópicos a seguir.
  </p>
</div>

<div class="container">
  <div class="row container" style="vertical-align:middle;">
    <h4>Parâmetros de entrada</h4>
  </div>
  <br />

  <div class="row">
    <div class="col-md-5" style="padding-bottom:20px;">
      <img src="{{ url_for('static', filename='fileform1.PNG') }}" class="img-responsive border" width=100%>
    </div>
    <div class="col-md-7">
      <h5><b>Upload dos arquivos</b></h5>
      <p style="text-align:justify">
        Todos os formulários dos algoritmos implementados na plataforma possuem uma seção em comum (figura ao lado) referente ao upload do arquivo das séries temporais que o usuário deseja analisar. Por questões de segurança e organização dos dados, são aceitos apenas arquivos no formato <code class="highlighter-rouge">.csv</code>.
      </p>
      <p style="text-align:justify">
        Além disso, a melhor maneira de garantir a correta interpretação das datas de sua série temporal é utilizando os formatos <code class="highlighter-rouge">YYYY-mm-dd</code> ou <code class="highlighter-rouge">dd-mm-YYYY</code> (e algumas variações, como <code class="highlighter-rouge">/</code> ao invés de <code class="highlighter-rouge">-</code>), mesmo que os dados em questão tenham frequência mensal ou anual (nesse caso, recomenda-se que se utilize um dia fixo, como <code class="highlighter-rouge">YYYY-mm-01</code>).
      </p>
    </div>
  </div>

<div class="row">
  <div class="col-md-12">
    <p style="text-align:justify">
      Essa construção foi pensada para garantir que os formatos planejados estejam livres de quaisquer problemas, ao invés de generalizar para as inúmeras possíveis combinações. Ainda assim, caso sejam passados números inteiros ou fracionários como a informação de data, a aplicação tentará interpretar a parte inteira como <i>ano</i>, e a parte decimal como <i>fração do ano</i>, e ajustar de acordo com a frequência escolhida nas opções.
    </p>
  </div>
</div>

  <div class="row">
    <div class="col-md-4">
      <span><b>Separador e Cabeçalho</b></span>
      <p style="text-align:justify">
        O parâmetro <u>Separador</u> é o símbolo empregado no arquivo <code class="highlighter-rouge">.csv</code> para separar os dados das diferentes colunas da tabela, definido na construção do arquivo (usuais: <code class="highlighter-rouge">,</code> e <code class="highlighter-rouge">;</code>). <br />A opção de <u>Cabeçalho</u> refere-se à presença ou não dos títulos das colunas da tabela no arquivo (marcado como Verdadeiro por padrão).
      </p>
    </div>
    <div class="col-md-4">
      <span><b>Coluna de Datas</b></span>
      <p style="text-align:justify">
        O parâmetro <u>Coluna de Datas</u> é utilizado para identificar em qual das colunas do seu arquivo encontram-se os dados que descrevam os instantes das observações da tabela (seja em dias, meses, anos ou outro formato). O valor padrão é <code class="highlighter-rouge">1</code>, referindo-se à primeira coluna do arquivo. Caso o arquivo não possua uma coluna de datas, passe o valor <code class="highlighter-rouge">0</code>, indicando que nenhuma coluna possui tal informação.
      </p>
    </div>
    <div class="col-md-4">
      <span><b>Coluna Principal</b></span>
      <p style="text-align:justify">
        O parâmetro <u>Coluna Principal</u>, de modo semelhante, é utilizado para identificar em qual das colunas do seu arquivo encontram-se os dados que descrevem a sua principal Série Temporal, ou variável endógena/dependente, dependendo do contexto (as demais colunas são ignoradas ou interpretadas como variáveis exógenas/independentes, dependendo do algoritmo utilizado). O valor padrão é <code class="highlighter-rouge">2</code>, referindo-se à segunda coluna do arquivo.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <span><b>Frequência dos Dados</b></span>
      <p style="text-align:justify">
        Esse parâmetro refere-se à frequência dos dados de entrada, ou seja, o intervalo de tempo que cada registro na série representa. Atualmente, os intervalos implementados são <i>Hora, Dia, Semana, Quinzena, Mês, Trimestre e Ano</i>. Recomenda-se que, caso os dados estejam em outra frequência de datas, seja selecionada a opção <i>Dia</i>.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <span><b>Tratamento de Dados Faltantes</b></span>
      <p style="text-align:justify">
        Esse parâmetro refere-se ao método de tratamento de registros sem valor atribuído na Coluna Principal. Por padrão, estes dados são removidos da série previamente, mas há outros três métodos possíveis: <b>Forward Fill</b>, que repete o valor do último dado disponível; <b>Interpolação Linear</b>, que realiza interpolação linear entre o valor anterior e posterior ao(s) registro(s) sem valor atribuído; e <b>Interpolação Cúbica</b>, que segue o mesmo processo, porém operando interpolação cúbica. É importante ressaltar que tais métodos solucionam apenas os dados faltantes internamente (ou seja, que possuam valores em registros anteriores e posteriores), e as pontas de início e fim da série sem dados serão removidas, independente do método.
      </p>
    </div>
  </div>

  <hr />

  <div class="row">
    <div class="col-md-8">
      <h5><b>Exemplo</b></h5>
      <p style="text-align:justify">
        Nos dados ao lado (recorte de uma tela do <i>Microsoft Excel</i>), os parâmetros de entrada do arquivo seriam:
        <ul>
          <li><b>Separador</b>: depende da maneira como o arquivo <code class="highlighter-rouge">.csv</code> será salvo e o separador definido. Em programas como o <i>Microsoft Excel</i>, as configurações padrão da versão inglesa salvam com o separador <code class="highlighter-rouge">,</code>, e a versão portuguesa com o separador <code class="highlighter-rouge">;</code>.</li>
          <li><b>Cabeçalho</b>: o arquivo possui cabeçalho, portanto mantém-se a opção marcada.</li>
          <li><b>Coluna de datas</b>: as datas encontram-se na primeira coluna, portanto mantém-se o valor <code class="highlighter-rouge">1</code>.</li>
          <li><b>Coluna principal</b>: os valores da Série Temporal encontram-se na segunda coluna, portanto mantém-se o valor <code class="highlighter-rouge">2</code>.</li>
          <li><b>Frequência dos Dados</b>: analisando a primeira coluna do extrato, nota-se que os dados estão dispostos diariamente. Portanto, marca-se a opção <code class="highlighter-rouge">Diária</code>.</li>
          <li><b>Tratamento de Dados Faltantes</b>: esse parâmetro está a critério do usuário. Em geral, mantém-se a opção padrão <code class="highlighter-rouge">Remoção</code>.</li>
        </ul>
      </p>
    </div>
    <div class="col-md-4">
      <img src="{{ url_for('static', filename='fileform2.PNG') }}" class="img-responsive border" width=100%>
    </div>
  </div>

</div>

{% endblock content %}
