{% extends "layout.html" %}

{% block content %}
<div class="container" style="margin-bottom:50px; margin-top:40px;">
  <h1 class="display-4">{{ title }}</h1>
  <p class="text-muted">
    Para que se faça uso da plataforma e dos seus diversos algoritmos é necessário que seja realizado inicialmente o <i>upload</i> dos dados sobre os quais serão realizadas as análises. A entrada de dados na plataforma é realizada apenas através de arquivos <code class="highlighter-rouge">.csv</code> e é importante que sejam passados os parâmetros corretos na leitura dos arquivos para garantir o bom funcionamento das funções. Entenda mais sobre a estrutura do arquivo e os parâmetros de entrada nos tópicos a seguir.
  </p>
</div>

<div class="container">
  <div class="row container">
    <h4>Parâmetros de entrada</h4>
  </div>
  <br />
  <div class="row">
    <div class="col-md-4 border-right">
      <h5>Separador</h5>
      <p style="text-align:justify">
        O separador é o símbolo empregado para separar os dados de diferentes colunas em um arquivo <code class="highlighter-rouge">.csv</code>. O separador mais comum (principalmente em arquivos na língua inglesa) é a vírgula (<code class="highlighter-rouge">,</code>) mas em muitos arquivos em português emprega-se o ponto-e-vírgula (<code class="highlighter-rouge">;</code>).
      </p>
    </div>
    <div class="col-md-4 border-right">
      <h5>Coluna de Datas</h5>
      <p style="text-align:justify">
        O parâmetro "Coluna de datas" é utilizado para identificar qual das colunas do seu arquivo encontram-se os dados de tempo (caso exista uma coluna para tal).
      </p>
    </div>
    <div class="col-md-4">
      <h5>Cabeçalho</h5>
      <p style="text-align:justify">
        Assinale a opção "Cabeçalho" em caso de seu arquivo possuir um cabeçalho, ou seja, no caso da primeira linha do seu arquivo  <code class="highlighter-rouge">.csv</code> conter informações que não são dados a serem analisados, mas sim os títulos das colunas.
      </p>
    </div>
  </div>

</div>

{% endblock content %}
