{% extends "layout.html" %}

{% block content %}

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1 class="display-4">Análise de Séries Temporais</h1>
    <p>Plataforma gratuita para análise de séries temporais empregando algoritmos clássicos</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Fácil de Usar</h2>
      <p>A plataforma foi projetada de modo a viabilizar a análise de dados temporais de forma simples e rápida. Basta escolher o modelo, os parâmentros e fazer o upload dos seus dados.</p>
      <p><a class="btn btn-secondary" href="#" role="button">Saiba mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Melhoria Contínua</h2>
      <p>Novos modelos estão sendo constantemente adicionados à plataforma, de modo a torná-la cada vez mais completa e funcional para os mais diversos problemas.</p>
      <p><a class="btn btn-secondary" href="#" role="button">Saiba mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Open Source</h2>
      <p>A plataforma possui código aberto, permitindo a colaboração de qualquer usuário. Além disso, você tem acesso a todos os nossos modelos, podendo acessá-los e usá-los para qualquer aplicaçao mais específica.</p>
      <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
    </div>
  </div>
</div>

<div class="container">
  <h3 class="display-4">Sobre</h3>
  <div class="row">
    <div class="col-md-2">
      <img src="ime.jpg" class="img-responsive">
    </div>
    <div class="col-md-10">
      <h3>Instituto Militar de Engenharia</h3>
      <p>A plataforma foi desenvolvida no IME (Instito Militar de Engenharia), que se enconta entre as melhores escolas de Engeharia do Brasil. O projeto é de responsabilidade da Seção de Engenharia Cartográfica - SE/6.</p>
    </div>
  </row>
</div>




 <!-- /container -->

{% endblock content %}
