{% extends "layout.html" %}

{% block content %}

<div class="container">
      <div class="container" style="margin-bottom:50px; margin-top:40px;">
        <h1 class="display-4">{{ title }}</h1>
      </div>

      <div class="row">
        <div class="col-md-4 order-md-2 mb-4">

          <div class="container border rounded" style="padding:10px;">
            <h4 class="text-muted">Descrição</h4>
            <p style="text-align:justify;">{{ text }}</p>

          </div>

        </div>
        <div class="col-md-8 order-md-1">

          <div class="container-fluid">

            {% block formulario %}
            {% endblock %}

          </div>
        </div>
      </div>
</div>

{% endblock content %}
